body {
  background-color: #f2f2f2 !important;
  margin: 0;
  padding: 0;
  font-family: 'Meera Inimai', sans-serif;
}
.card1{
  background-image: -webkit-linear-gradient(90deg, #f76c6c 0%, #f8afaf 100%) !important;
}
.card2{
  background-image: -webkit-linear-gradient(90deg, #3aafa9 0%, #abd6d3 100%) !important;
}
.card3{
  background-image: -webkit-linear-gradient(90deg, #65ccb8 0%, #b6faec 100%) !important;
}
.card4{
  background-image: -webkit-linear-gradient(90deg, #57ba98 0%, #a4e2cd 100%) !important;
}
.card{
  min-height: 450px !important;
}
.navBG, .footBG{
  background-color: #182628 !important;
}
.logo{
  font-family: 'Lobster', cursive;
  font-size: 35px;
  color: #e85a4f;
}
.balance{
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color: green;
}
